/** 커스텀 **/
.calendar-header {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  & .rt-BaseButton:where(.rt-variant-solid) {
    padding: 0 1rem 0 0.3rem;
    color: var(--color-gray-dark);
    background-color: transparent;
  }

  & .prev-btn {
    position: absolute;
    left: 0;
  }

  & .next-btn {
    position: absolute;
    right: 0;
  }

  & .list-btn {
    position: absolute;
    right: 3.5rem;
    padding: 0;
  }

  & svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  & > span {
    font-size: 0.95rem;
    color: var(--color-gray);
  }
}

/** react-calendar 디자인 수정 **/
.react-calendar {
  width: 100%;
  border: 0;
}

.react-calendar__navigation__label__labelText {
  font-size: 0.95rem;
  color: var(--color-gray);
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__days__day {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--color-gray);
}
.react-calendar__month-view__weekdays {
  margin-bottom: 1rem;

  & abbr {
    text-decoration: none;
  }
}

.react-calendar__tile--now {
  background-color: var(--color-primary-light);
}

.react-calendar__tile {
  &:enabled:hover,
  &:enabled:focus {
    background-color: transparent;
  }

  &.is-today {
    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--color-primary-light);
    }
  }
}

.react-calendar__month-view__days__day {
  &.is-active {
    & abbr {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }

  & abbr {
    display: inline-block;
    width: 2rem;
    height: 1.35rem;
    line-height: 1.4;
    border-radius: 50px;
  }

  & img {
    margin: 0.1rem auto 0;
    width: 2rem;
  }
}
