.full-screen-modal {
    position: relative;
    --max-width: initial !important;
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow: initial;

    &.rt-BaseDialogContent {
        padding: 0;
    }

    & .modal-header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 1rem 2rem;
        box-shadow: var(--shadow-middle);

        & h1 {
            margin-bottom: 0;
            line-height: 2.3;
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--color-text-default);
        }

        & button {
            font-size: 1.2rem;
        }
    }

    & .scroll {
        margin: 1rem 0.5rem 1rem 1rem;
        max-height: 80%;
        overflow: auto;
    }

    & .modal-desc {
        padding: 1rem 1rem 0;
    }

    & .modal-contents {
        padding: 1.6rem;
    }

    & .modal-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        gap: 1rem;
        width: 100%;
        padding: 1rem;

        & button {
            flex: 1;
            height: 2.5rem;
            font-size: 1rem;

            &:first-child {
                background-color: var(--color-gray-light);
                color: var(--color-gray-dark);
            }
        }
    }
}

.rt-BaseDialogScroll {
    overflow: initial;
}

.rt-BaseDialogScrollPadding {
    height: 100%;
    padding: 0;
}