@import 'tailwindcss';
@import "react-calendar/dist/Calendar.css";
@import './styles/global.css';
@import './styles/fonts.css';
@import './styles/radix-overrides.css';
@import "./styles/calendar.css";

@theme {
  /* 기본 */
  --color-white:            #fff;
  --color-black:            #000;

  /* 메인 */
  --color-primary:          #5AB261;
  --color-primary-light:    #FCFCF4;
  --color-secondary:        #F8876E;
  --color-bg:               #FFFEFA;

  /* 서브 */
  --color-gray:             #B3B3B3;
  --color-gray-light:       #F1F1F1;
  --color-gray-light2:       #FAFAFA;
  --color-gray-dark:        #8D8D8D;


  /* 텍스트 */
  --color-text-default:     #788678;
  --color-text-subtle:      #1E293B;
  --color-text-placeholder: #CFD3D0;

  /* 폰트 */
  --font-sans:              'Noto Sans KR', system-ui, sans-serif;
  --font-handwriting:       'AinMom', cursive;
  --font-mono:              ui-monospace, Consolas, monospace;

  /* 그림자 */
  --shadow-top:    0px -2px 10px 0px #0000001A;
  --shadow-middle: 0px 0px 8.2px 0px #0000000D;
  --shadow-bottom: 0px 2px 6px 0px #0000001A;

  /* 둥글기 */
  --radius-sm: 12px;
  --radius-md: 16px;

  /* 반응형 사이즈 */
  --breakpoint-sm2: 30.5rem; /* 커스텀 이름 */
}

:root {
  font: 500 18px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color: theme(--color-text-default);
  background: theme(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@layer components {
  .input-group .rt-TextFieldRoot {
    height: 3.7rem;
  }
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}